h1 {
  color: rgb(76, 14, 245);
  font-size: 26px;
  text-align: center;
  margin-top: 50px;
}

body {
  background-color: #8c9cf4;
  font-family: Arial, sans-serif;
}

footer {
  color: rgb(163, 134, 243);
  text-align: center;
  padding: 7px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: black;
}
a {
  color: white;
  text-decoration: none;
}

.city {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  color: rgb(12, 11, 11);
}
.date {
  font-size: 18px;
  text-align: center;
  margin-top: -10px;
  color: rgb(12, 11, 11);
}
.time {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: rgb(76, 14, 245);
}