h1 {
  color: rgb(76, 14, 245);
  font-size: 26px;
  text-align: center;
  margin-top: 50px;
}

body {
  background-color: #8c9cf4;
  font-family: Arial, sans-serif;
}

footer {
  color: rgb(163, 134, 243);
  text-align: center;
  padding: 12px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: black;
}
a {
  color: white;
  text-decoration: none;
}
