h1 {
  color: rgb(76, 14, 245);
  font-size: 26px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  margin: 0 0 20px;
  line-height: 1.8;
}
body {
  background-color: #8c9cf4;
  font-family: Arial, sans-serif;
}

footer {
  color: rgb(163, 134, 243);
  text-align: center;
  font-size: 14px;
  padding: 7px;
  position: fixed;
  width: 100%;
  line-height: 1.5;
  margin-left: -10px;
  bottom: 0;
  background-color: black;
}
a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 600px;
  background-color: white;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 28px;
}

#city-select {
  background-color: rgb(252, 252, 252);
  color: black;
  border: 2px solid rgb(76, 14, 245);
  padding: 8px 20px;
  text-decoration: none;
  width: 50%;
  display: block;
  font-size: 16px;
  margin: 40px auto;
  cursor: pointer;
  border-radius: 5px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.time {
  font-size: 33px;
  font-weight: bold;
  color: rgb(76, 14, 245);
  margin-top: 10px;
}

.time small {
  font-size: 16px;
  color: black;
  vertical-align: middle;
}

.date {
  font-size: 16px;
  color: black;
  margin-top: -20px;
  opacity: 0.7;
}
